/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 66px;
  height: 60px;
  left: 50px;
  top: 4%;
  z-index: 3;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #2E2B33;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 0;
  font-size: 1.15em;
  text-align: center;
  left: 40px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #fff;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: RGBA(227, 231, 234, .2);
}

a.menu-item {
  font-size: .8em;
  margin: .5em 0;
  text-decoration: none;
	color: #00AAFF;
  font-weight: 500;
  text-shadow: 1px 1px 1px RGBA(227, 231, 234, .2);
}

a.menu-item:hover {
  color: #2E2B33;
  font-size: .85em;
  text-shadow: 1px 1px 1px RGBA(227, 231, 234, .2);
}

.mic {
  height: 90px;
  margin-left: 4px;
  width: 90px;
}

.copy {
  color: #2E2B33;
  font-size: 0.4em;
  margin-top: 20%;
  text-decoration: none;
}